{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Base Template</title>
    {% include 'base/css.html' %}
    {% block base_head %} {% endblock %}

   
  </head>
  <body>

	<p><h5> Thanksgiving Deals!!  Welcome Pre-Black Friday Deals!</h5>
	<h6> Shop Now! Free Shipping!</h6>


	<img class="img-responsive" src="https://i.ytimg.com/vi/nkVrqUfY1Sg/hqdefault.jpg" style="width:100%">
	</p>


	<p><h5> Christmas Deals!!  Santa's List! </h5>
	<h6> Shop Now! Free Shipping!</h6>


	<img class="img-responsive" src="https://localhop-prod.s3.amazonaws.com/uploads/7ede3f5d8ea33d08cd732e72b6dd776a_Santa-image.jpg" style="width:100%">
	</p>
  </body>

</html>

